
.pgn {
  color: #000;
  min-width: 40px;
  max-width: 100px;
}

.pgn:hover {
  background: #e6e6e6;
}

.active, .active:hover {
  background: #390256;
  color: #fefefe;
  cursor: default;
}

.disabled:hover {
  background: white;
}

/*.ellipsis {*/
  /*color: #000;*/
/*}*/

#addnewbutton {
  margin-left: 14px;
}

em {
  margin-top: 0;
  margin-right: 15px;
}

input[type=number] {
  min-width: 20px;
  max-width: 50px;
}

#itemssummary {
  z-index: 10;
}

#page-switcher, #pagination-settings {
  margin-top: 10px;
  margin-left: 20px;
}

#pagination-settings {
  margin-top: 10px;
  margin-left: 30px;
}

.card-footer {
  margin-top: 0;
}
