
<span *ngIf="isLoading && !errorMessage" class="spinner spinner-lg center-h1"></span>

<div *ngIf="!isLoading && !errorMessage" class="center col-lg-8 col-md-12 col-sm-12 col-xs-12">
  <div class="card shadow">
    <div class="card-block">
      <div class="card-header title">
        Register new account
      </div>
      <form #registerForm="ngForm">
        <section style="text-align: center" class="form-block">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter your name (Optional)" size="50"
                   [(ngModel)]="name" name="name">
          </div>
          <br>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter new username" size="50"
                   [(ngModel)]="username" name="username">
          </div>
          <br>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter email" size="50" required
                   [(ngModel)]="email" name="email">
          </div>
          <br>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter new password" size="50"
                   [(ngModel)]="password" name="password">
          </div>
          <br>
          <div class="form-group">
            <label for="password_again">Confirm Password</label>
            <input type="password" id="password_again" placeholder="Enter password again" size="50"
                   [(ngModel)]="password_again" name="password_again">
          </div>
        </section>
      </form>
      <hr class="divider">
      <div style="text-align: center" class="card-footer">
        <button (click)="register(name, username, email, password, password_again)"
                type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>

<h1 *ngIf="errorMessage" class="center-h1">
  {{errorMessage.status}}
  {{errorMessage.message}}
</h1>
