
<div class="main-container">
  <header class="header header-3 shadow">
    <div class="branding">
      <a routerLink="/welcome">
        <clr-icon shape="home" class="is-inverse is-solid"></clr-icon>
        <span class="title">Chum</span>
      </a>
    </div>
    <div *ngIf="currentUser" class="header-nav">
      <a routerLink="/welcome" routerLinkActive="active" class="nav-link nav-text">Dashboard</a>
      <a routerLink="/bucketlists" routerLinkActive="active" class="nav-link nav-text">Bucket Lists</a>
    </div>
    <form *ngIf="currentUser" class="search">
      <label for="search_bucketlists">
        <input id="search_bucketlists" type="text" placeholder="Search for bucket list...">
      </label>
    </form>
    <div class="header-actions">
      <a *ngIf="!currentUser" routerLink="/login" routerLinkActive="active" class="nav-link nav-text">
        Log In
      </a>
      <a *ngIf="!currentUser" routerLink="/register" routerLinkActive="active" class="nav-link nav-text">
        Register
      </a>
      <span *ngIf="currentUser" class="nav-link nav-text">
        Hi {{currentUser.username}}!
      </span>
      <clr-dropdown *ngIf="currentUser" clrMenuPosition="bottom-right">
        <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu>
          <a href="#" clrDropdownItem>About</a>
          <a (click)="logOut()" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
